exportPattern("^[[:alpha:]]+")
 export(shypEstFun, shypFun)
 import(DEoptim)
 import(lhs)
 importFrom(pracma,cumtrapz)
 importFrom(pracma,trapz)
 importFrom(pracma,erf)
 importFrom(pracma,erfc)
 import(FME)
